---
import ViewAventuraGym from "../components/projectsview/ViewAventuraGym.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Página web AventuraGym" description="Proyecto de creación de AventuraGym">
    <section>
        <ViewAventuraGym />
    </section>
    <div class="flex justify-center">
        <a href="https://aventuragym-marxdev.netlify.app/" target="_blank" class="transition ease-in-out delay-150 bg-blue-950 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-900 duration-300 rounded-full mt-[-0.5em] px-4 py-2 text-white">
            Link AventuraGym React
        </a>
    </div>
</Layout>