---
import ProyectoBookWize from "../components/projectsview/ViewBookWise.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Proyecto BookWize" description="Proyecto realizado para una biblioteca">
    <section class="text-white">
        <ProyectoBookWize />
    </section>
</Layout>