---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto" description="Formulario de Contacto">
    <SectionContainer>
        <div
          class="mt-2 min-h-screen flex items-center justify-center bg-gray-900 py-12 px-6"
        >
          <form
            name="contact"
            data-netlify-recaptcha="true"
            method="POST"
            data-netlify="true"
            class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-lg w-full space-y-6"
          >
            <h2 class="text-3xl font-semibold text-white text-center mb-4">
              Contáctanos
            </h2>
    
            <!-- Name Field -->
            <div>
              <label class="block text-sm font-medium text-gray-400 mb-2"
                >Tu Nombre:</label
              >
              <input
                type="text"
                name="name"
                class="w-full p-3 border border-gray-700 rounded-lg bg-gray-700 text-white placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-300 ease-in-out"
                placeholder="Introduce tu nombre"
              />
            </div>
    
            <!-- Email Field -->
            <div>
              <label class="block text-sm font-medium text-gray-400 mb-2"
                >Tu Correo:</label
              >
              <input
                type="email"
                name="email"
                class="w-full p-3 border border-gray-700 rounded-lg bg-gray-700 text-white placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-300 ease-in-out"
                placeholder="Introduce tu correo"
              />
            </div>
    
            <!-- Role Field -->
            <div>
              <label class="block text-sm font-medium text-gray-400 mb-2"
                >Tu Rol:</label
              >
              <select
                name="role[]"
                multiple
                class="w-full p-3 border border-gray-700 rounded-lg bg-gray-700 text-white focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-300 ease-in-out"
              >
                <option value="leader">Cliente</option>
                <option value="follower">Empresa</option>
              </select>
            </div>
    
            <!-- Message Field -->
            <div>
              <label class="block text-sm font-medium text-gray-400 mb-2"
                >Mensaje:</label
              >
              <textarea
                name="message"
                rows="4"
                class="w-full p-3 border border-gray-700 rounded-lg bg-gray-700 text-white placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-300 ease-in-out"
                placeholder="Introduce tu mensaje"></textarea>
            </div>
            <div data-netlify-recaptcha="true"></div>
            <!-- Submit Button -->
            <div class="text-center mt-2">
              <button
                type="submit"
                class="w-full bg-blue-600 text-white py-3 rounded-lg shadow-lg hover:bg-blue-700 transition-transform transform hover:scale-105 duration-300 ease-in-out"
                >Enviar Mensaje</button
              >
            </div>
          </form>
        </div>
      </SectionContainer>
</Layout>