---
import ViewIBContrata from "../components/projectsview/ViewIBContrata.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Proyecto IBContrata" description="Proyecto de migración y actualización de IBContrata a Laravel 10">
    <section>
        <ViewIBContrata />
    </section>
    <div class="flex justify-center">
        <a href="https://github.com/MarxAlonso/ibcontrataweb.git" target="_blank" class="transition ease-in-out delay-150 bg-blue-950 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-900 duration-300 rounded-full mt-[-0.5em] px-4 py-2 text-white">
            Link GitHub
        </a>
    </div>
</Layout>