---
import ViewIBContrata from "../components/projectsview/ViewIBContrata.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Proyecto IBContrata" description="Proyecto de migración y actualización de IBContrata a Laravel 10">
    <section>
        <ViewIBContrata />
    </section>
</Layout>