---
import ViewIBContrata from "../components/projectsview/ViewIBContrata.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Proyecto IBContrata" description="Proyecto de migración y actualización de IBContrata a Laravel 10">
    <section>
        <ViewIBContrata />
    </section>
    <div class="flex justify-center">
        <a href="https://github.com/MarxAlonso/ibcontrataweb.git" target="_blank" class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 justify-center rounded-full mt-[-55px] h-8 size-1/12 flex items-center justify-center">
            <button class="w-full h-full">Link GitHub</button>
        </a>
    </div>
</Layout>
