---
import ViewIBHunter from "../components/projectsview/ViewIBHunter.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Proyecto IBHunter" description="Proyecto de migración y actualización de IBHunter a Laravel 10">
    <section>
        <ViewIBHunter />
    </section>
</Layout>