---
import ProjectsFull from "../components/icons/ProjectsFull.astro";
import ProjectsList from "../components/ProjectsList.astro";
import SectionProyectosList from "../components/SectionProyectosList.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Proyectos Realizados" description="Proyectos en las que he participado y realizado">
    <SectionProyectosList id="proyectos">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
            <ProjectsFull class="size-7"/>
            Lista de Proyectos
        </h2>
        <ProjectsList />
    </SectionProyectosList>
</Layout>