---
import ViewToritoGrill from "../components/projectsview/ViewToritoGrill.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Página web Torito Grill" description="Proyecto de creación de Torito Grill">
    <section>
        <ViewToritoGrill />
    </section>
    <div class="flex justify-center">
        <a href="https://toritogrill-react.pages.dev/" target="_blank" class="transition ease-in-out delay-150 bg-blue-950 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-900 duration-300 rounded-full mt-[-0.5em] px-4 py-2 text-white">
            Link Torito Grill React
        </a>
    </div>
</Layout>